## Rename the data

In [1]:
import pandas as pd
import numpy as np

In [2]:
data_raw = pd.read_csv("../data/AAPL_05222012_0930_1300_LOB_2.csv")

In [13]:
cols = [name.split("..")[0].split(".")[1].lower() for name in data_raw.columns.values if name != "Time"]

In [17]:
data_raw.columns = ["Time"] + cols

In [18]:
data_raw.head()

,Time,bid_price1,bid_update_time1,bid_size1,ask_price1,ask_update_time1,ask_size1,bid_price2,bid_update_time2,bid_size2,...,bid_size9,ask_price9,ask_update_time9,ask_size9,bid_price10,bid_update_time10,bid_size10,ask_price10,ask_update_time10,ask_size10
Index,,,,,,,,,,,,,,,,,,,,,
1,2012/05/22 09:30:00.000,569.02,2012/05/22 09:29:34.006,40,570,2012/05/22 09:29:43.573,400,568.80,2012/05/22 09:29:47.563,100,...,200,571.00,2012/05/22 09:29:49.424,120,567.16,2012/05/22 09:28:28.730,60,571.24,2012/05/22 08:13:36.797,200
2,2012/05/22 09:30:00.003,569.02,2012/05/22 09:29:34.006,40,570,2012/05/22 09:29:43.573,400,568.80,2012/05/22 09:29:47.563,100,...,200,570.99,2012/05/22 09:29:53.347,200,567.16,2012/05/22 09:28:28.730,60,571.00,2012/05/22 09:29:49.424,120
3,2012/05/22 09:30:00.003,569.02,2012/05/22 09:29:34.006,40,570,2012/05/22 09:29:43.573,400,568.80,2012/05/22 09:29:47.563,100,...,200,570.67,2012/05/22 09:29:29.034,10,567.16,2012/05/22 09:28:28.730,60,570.99,2012/05/22 09:29:53.347,200
4,2012/05/22 09:30:00.003,569.03,2012/05/22 09:30:00.003,8,570,2012/05/22 09:29:43.573,400,569.02,2012/05/22 09:29:34.006,40,...,200,570.67,2012/05/22 09:29:29.034,10,567.30,2012/05/22 09:29:38.985,200,570.99,2012/05/22 09:29:53.347,200
5,2012/05/22 09:30:00.003,569.03,2012/05/22 09:30:00.003,8,570,2012/05/22 09:29:43.573,400,569.02,2012/05/22 09:29:34.006,40,...,200,570.55,2012/05/22 09:30:00.003,8,567.30,2012/05/22 09:29:38.985,200,570.67,2012/05/22 09:29:29.034,10

In [19]:
data_raw.to_csv("../data/AAPL_LOB.csv")

## Fit the models

In [18]:
from imp import reload

In [114]:
import pandas as pd
import numpy as np
from datetime import datetime
from label import mid_label, spread_label
from basic_set import get_basic
from insensitive_set import get_spread_midprice, get_price_diff, get_mean, get_accumulated_diff
from sensitive_set import get_derivatives
from sampling import sampling_labels
from sklearn import svm
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier as RF

### Load data

In [2]:
data_raw = pd.read_csv('../data/AAPL_LOB.csv')

### Transform the data

In [3]:
def transform_data_tinsen(data_raw):
    spreads_mids = get_spread_midprice(data_raw)
    price_diff = get_price_diff(data_raw)
    means = get_mean(data_raw)
    accum_diff = get_accumulated_diff(data_raw)
    data_tfm = pd.merge(spreads_mids, price_diff, on = ['Index', 'Time'])
    data_tfm = pd.merge(data_tfm, means, on = ['Index', 'Time'])
    data_tfm = pd.merge(data_tfm, accum_diff, on = ['Index', 'Time'])
    return(data_tfm)

In [148]:
def transform_data(data_raw, feature_basic = True, feature_tinsen = True, feature_tsen = True, delta_t = 30):
    if feature_basic * feature_tinsen * feature_tsen:
        basics = get_basic(data_raw)
        data_tinsen = transform_data_tinsen(data_raw)
        data_tsen = get_derivatives(data_raw, delta_t)
        basics = basics.iloc[delta_t:]
        data_tinsen = data_tinsen.iloc[delta_t:]
        #print("basics_ind:" + str(basics.index[:5]) + "tinsen: "+ str(data_tinsen.index[:5]) + str(data_tsen.index[:5]))
        data_tfm = pd.merge(basics, data_tinsen, on = ['Index', 'Time'])
        data_tfm = pd.merge(data_tfm, data_tsen, on = ['Index', 'Time'])
        return(data_tfm)
    elif (feature_basic == True) and (feature_tinsen == True):
        basics = get_basic(data_raw)
        data_tinsen = transform_data_tinsen(data_raw)
        data_tfm = pd.merge(basics, data_tinsen, on = ['Index', 'Time'])
        return(data_tfm)
    elif (feature_basic == True):
        basics = get_basic(data_raw)
        return(basics)

In [5]:
def split_rawdata(data_raw, split_time = datetime(2012, 5, 22, 11, 0)):
    time = np.array([datetime.strptime(time, "%Y/%m/%d %H:%M:%S.%f") for time in data_raw['Time']])
    train_index = time < datetime(2012, 5, 22, 11, 0)
    train = data_raw.iloc[train_index]
    test = data_raw.iloc[np.logical_not(train_index)]
    return({"train": train, "test": test})

In [6]:
raw_data_sets = split_rawdata(data_raw)
train = raw_data_sets["train"]
test = raw_data_sets["test"]

In [141]:
get_derivatives(train.head(5), delta_t = 2)

,Index,Time,ask_price_derivative1,ask_price_derivative2,ask_price_derivative3,ask_price_derivative4,ask_price_derivative5,ask_price_derivative6,ask_price_derivative7,ask_price_derivative8,...,bid_size_derivative1,bid_size_derivative2,bid_size_derivative3,bid_size_derivative4,bid_size_derivative5,bid_size_derivative6,bid_size_derivative7,bid_size_derivative8,bid_size_derivative9,bid_size_derivative10
2,3,2012/05/22 09:30:00.003,0,0,0,0,0,0,-0.065,-0.220,...,0,0,0,0,0.0,0,0.0,0,0,0
3,4,2012/05/22 09:30:00.003,0,0,0,0,0,0,-0.005,-0.060,...,-16,-30,0,0,49.5,-52,2.5,-50,0,70
4,5,2012/05/22 09:30:00.003,0,0,0,0,0,0,-0.010,-0.005,...,-16,-30,0,0,49.5,-52,2.5,-50,0,70

In [217]:
train_tfm = transform_data(train, delta_t = 30)
test_tfm = transform_data(test, delta_t = 30)

In [218]:
test_tfm.(40)

,Index,Time,ask_price1,ask_price2,ask_price3,ask_price4,ask_price5,ask_price6,ask_price7,ask_price8,...,bid_size_derivative1,bid_size_derivative2,bid_size_derivative3,bid_size_derivative4,bid_size_derivative5,bid_size_derivative6,bid_size_derivative7,bid_size_derivative8,bid_size_derivative9,bid_size_derivative10
0,203380,2012/05/22 11:00:01.363,566.90,566.99,567.00,567.03,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,203381,2012/05/22 11:00:01.364,566.90,566.99,567.00,567.03,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,203382,2012/05/22 11:00:01.999,566.90,566.99,567.00,567.03,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,203383,2012/05/22 11:00:02.249,566.84,566.90,566.99,567.00,567.03,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,203384,2012/05/22 11:00:02.319,566.84,566.90,566.99,567.00,567.03,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,203385,2012/05/22 11:00:02.320,566.84,566.90,566.99,567.00,567.03,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,203386,2012/05/22 11:00:02.321,566.84,566.90,566.99,567.00,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,203387,2012/05/22 11:00:02.321,566.84,566.90,566.99,567.00,567.05,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,203388,2012/05/22 11:00:02.321,566.84,566.90,566.99,567.00,567.05,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,203389,2012/05/22 11:00:02.325,566.84,566.90,566.99,567.00,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,203390,2012/05/22 11:00:02.325,566.84,566.90,566.99,567.00,567.08,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,203391,2012/05/22 11:00:02.326,566.84,566.90,566.99,567.00,567.08,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,203392,2012/05/22 11:00:03.077,566.84,566.90,566.99,567.00,567.08,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,203393,2012/05/22 11:00:03.284,566.84,566.90,566.99,567.00,567.08,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,203394,2012/05/22 11:00:03.288,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,203395,2012/05/22 11:00:03.288,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,203396,2012/05/22 11:00:03.303,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,203397,2012/05/22 11:00:03.304,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,203398,2012/05/22 11:00:03.639,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,203399,2012/05/22 11:00:03.706,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,203400,2012/05/22 11:00:03.706,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,203401,2012/05/22 11:00:03.706,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,203402,2012/05/22 11:00:03.765,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,203403,2012/05/22 11:00:03.767,566.90,566.95,566.99,567.00,567.08,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,203404,2012/05/22 11:00:03.997,566.90,566.95,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,203405,2012/05/22 11:00:04.005,566.90,566.95,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,203406,2012/05/22 11:00:04.076,566.90,566.95,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,203407,2012/05/22 11:00:04.084,566.90,566.95,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,203408,2012/05/22 11:00:04.099,566.90,566.95,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,203409,2012/05/22 11:00:04.396,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,203410,2012/05/22 11:00:04.398,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,203411,2012/05/22 11:00:04.916,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,203412,2012/05/22 11:00:04.922,566.85,566.90,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,203413,2012/05/22 11:00:04.922,566.85,566.90,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,203414,2012/05/22 11:00:05.100,566.85,566.90,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,203415,2012/05/22 11:00:05.100,566.85,566.90,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,203416,2012/05/22 11:00:05.101,566.85,566.90,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,203417,2012/05/22 11:00:05.488,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,203418,2012/05/22 11:00:05.488,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,203419,2012/05/22 11:00:05.488,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Prepare y labels

#### Mid price based on delta_t = 20

In [7]:
def get_sampling_labels_ind(train, test, sample_type = "mid", delta_t = 20, sample_size_train = 2000, sample_size_test = 10000, tick_size = 0.01,\
                           train_sample_random=False, test_sample_random = True, up_prob_train = 1/3, down_prob_train = 1/3,\
                           up_prob_test = 1/3, down_prob_test = 1/3):
    if sample_type == "mid":
        y_lab_train_all = mid_label(train, delta_t, tick_size)
        y_lab_test_all = mid_label(test, delta_t, tick_size)
        t_ind = sampling_labels(y_lab_train_all, sample_size_train, sample_random = train_sample_random, up_prob = up_prob_train, down_prob = down_prob_train)
        v_ind = sampling_labels(y_lab_test_all, sample_size_test, sample_random = test_sample_random, up_prob = up_prob_test, down_prob = down_prob_test)
#         y_lab_train = [y_lab_train_all[i] for i in range(len(t_ind)) if t_ind[i]]
#         y_lab_test = [y_lab_test_all[i] for i in range(len(v_ind)) if v_ind[i]]
        y_lab_train = pd.Series(y_lab_train_all).iloc[t_ind]
        y_lab_test = pd.Series(y_lab_test_all).iloc[v_ind]
        return({"y_lab_train": y_lab_train, "y_lab_test": y_lab_test, "t_ind": t_ind, "v_ind": v_ind})
    else:
        y_lab_train_all = spread_label(train, delta_t = delta_t)
        y_lab_test_all = spread_label(test, delta_t = delta_t)
        t_ind = sampling_labels(y_lab_train_all, sample_size_train, sample_random = train_sample_random, up_prob = up_prob_train, down_prob = down_prob_train)
        v_ind = sampling_labels(y_lab_test_all, sample_size_test, sample_random = test_sample_random, up_prob = up_prob_test, down_prob = down_prob_test)
#         y_lab_train = [y_lab_train_all[i] for i in range(len(t_ind)) if t_ind[i]]
#         y_lab_test = [y_lab_test_all[i] for i in range(len(v_ind)) if v_ind[i]]
        y_lab_train = pd.Series(y_lab_train_all).iloc[t_ind]
        y_lab_test = pd.Series(y_lab_test_all).iloc[v_ind]
        return({"y_lab_train": y_lab_train, "y_lab_test": y_lab_test, "t_ind": t_ind, "v_ind": v_ind})

In [202]:
samples_inds = get_sampling_labels_ind(train_tfm, test_tfm, sample_type = "mid", delta_t = 30, tick_size = 0.04,\
                                      train_sample_random=False, test_sample_random = False, up_prob_train = 0.45, \
                                      down_prob_train = 0.45,sample_size_train = 5000, sample_size_test = 5000, \
                                             up_prob_test = 1/3, down_prob_test = 1/3)

In [203]:
y_mid_train = samples_inds["y_lab_train"]
y_mid_test = samples_inds["y_lab_test"]
t_ind = samples_inds["t_ind"]
v_ind = samples_inds["v_ind"]

In [168]:
train_samples_inds = get_sampling_labels_ind(train_tfm, train_tfm, sample_type = "mid", delta_t = 30, tick_size = 0.04,\
                                      train_sample_random=False, test_sample_random = False, up_prob_train = 1/3, \
                                      down_prob_train = 1/3,sample_size_train = 5000, sample_size_test = 5000, \
                                             up_prob_test = 1/3, down_prob_test = 1/3)

In [169]:
y_mid_train_train = train_samples_inds["y_lab_train"]
y_mid_train_test = train_samples_inds["y_lab_test"]
t_ind = train_samples_inds["t_ind"]
v_ind = train_samples_inds["v_ind"]

In [186]:
clf = svm.SVC(C = 0.35)
clf.fit(train_tfm[train_tfm.columns[2:]].iloc[t_ind], y_mid_train_train)

SVC(C=0.35, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [187]:
clf.score(train_tfm[train_tfm.columns[2:]].iloc[t_ind], y_mid_train_train)

0.999

In [188]:
clf.score(train_tfm[train_tfm.columns[2:]].iloc[v_ind], y_mid_train_test)

0.35980000000000001

In [189]:
predict_test = clf.predict(train_tfm[train_tfm.columns[2:]].iloc[v_ind])
confusion_matrix(predict_test, y_mid_train_test)

array([[  66,    0,    0],
       [1600, 1668, 1601],
       [   0,    0,   65]])

In [216]:
test_tfm.head(50)

,Index,Time,ask_price1,ask_price2,ask_price3,ask_price4,ask_price5,ask_price6,ask_price7,ask_price8,...,bid_size_derivative1,bid_size_derivative2,bid_size_derivative3,bid_size_derivative4,bid_size_derivative5,bid_size_derivative6,bid_size_derivative7,bid_size_derivative8,bid_size_derivative9,bid_size_derivative10
0,203380,2012/05/22 11:00:01.363,566.90,566.99,567.00,567.03,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,203381,2012/05/22 11:00:01.364,566.90,566.99,567.00,567.03,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,203382,2012/05/22 11:00:01.999,566.90,566.99,567.00,567.03,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,203383,2012/05/22 11:00:02.249,566.84,566.90,566.99,567.00,567.03,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,203384,2012/05/22 11:00:02.319,566.84,566.90,566.99,567.00,567.03,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,203385,2012/05/22 11:00:02.320,566.84,566.90,566.99,567.00,567.03,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,203386,2012/05/22 11:00:02.321,566.84,566.90,566.99,567.00,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,203387,2012/05/22 11:00:02.321,566.84,566.90,566.99,567.00,567.05,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,203388,2012/05/22 11:00:02.321,566.84,566.90,566.99,567.00,567.05,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,203389,2012/05/22 11:00:02.325,566.84,566.90,566.99,567.00,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,203390,2012/05/22 11:00:02.325,566.84,566.90,566.99,567.00,567.08,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,203391,2012/05/22 11:00:02.326,566.84,566.90,566.99,567.00,567.08,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,203392,2012/05/22 11:00:03.077,566.84,566.90,566.99,567.00,567.08,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,203393,2012/05/22 11:00:03.284,566.84,566.90,566.99,567.00,567.08,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,203394,2012/05/22 11:00:03.288,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,203395,2012/05/22 11:00:03.288,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,203396,2012/05/22 11:00:03.303,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,203397,2012/05/22 11:00:03.304,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,203398,2012/05/22 11:00:03.639,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,203399,2012/05/22 11:00:03.706,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,203400,2012/05/22 11:00:03.706,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,203401,2012/05/22 11:00:03.706,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,203402,2012/05/22 11:00:03.765,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,203403,2012/05/22 11:00:03.767,566.90,566.95,566.99,567.00,567.08,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,203404,2012/05/22 11:00:03.997,566.90,566.95,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,203405,2012/05/22 11:00:04.005,566.90,566.95,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,203406,2012/05/22 11:00:04.076,566.90,566.95,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,203407,2012/05/22 11:00:04.084,566.90,566.95,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,203408,2012/05/22 11:00:04.099,566.90,566.95,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,203409,2012/05/22 11:00:04.396,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,203410,2012/05/22 11:00:04.398,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,203411,2012/05/22 11:00:04.916,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,203412,2012/05/22 11:00:04.922,566.85,566.90,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,203413,2012/05/22 11:00:04.922,566.85,566.90,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,203414,2012/05/22 11:00:05.100,566.85,566.90,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,203415,2012/05/22 11:00:05.100,566.85,566.90,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,203416,2012/05/22 11:00:05.101,566.85,566.90,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,203417,2012/05/22 11:00:05.488,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,203418,2012/05/22 11:00:05.488,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,203419,2012/05/22 11:00:05.488,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,203420,2012/05/22 11:00:05.488,566.85,566.90,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,203421,2012/05/22 11:00:05.488,566.85,566.90,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,203422,2012/05/22 11:00:05.488,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,203423,2012/05/22 11:00:05.491,566.86,566.90,566.99,567.00,567.08,567.10,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,203424,2012/05/22 11:00:05.492,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,203425,2012/05/22 11:00:05.492,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,203426,2012/05/22 11:00:05.495,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,203427,2012/05/22 11:00:05.495,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,203428,2012/05/22 11:00:05.496,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,203429,2012/05/22 11:00:05.496,566.90,566.99,567.00,567.08,567.10,567.13,567.14,567.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [207]:
# model
clf = svm.SVC()
clf.fit(train_tfm[train_tfm.columns[2:]].iloc[t_ind], y_mid_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [208]:
# accuracy
clf.score(train_tfm[train_tfm.columns[2:]].iloc[t_ind], y_mid_train)

0.99980000000000002

In [212]:
test_tfm.head(15)

,Index,Time,ask_price1,ask_price2,ask_price3,ask_price4,ask_price5,ask_price6,ask_price7,ask_price8,...,bid_size_derivative1,bid_size_derivative2,bid_size_derivative3,bid_size_derivative4,bid_size_derivative5,bid_size_derivative6,bid_size_derivative7,bid_size_derivative8,bid_size_derivative9,bid_size_derivative10
0,203380,2012/05/22 11:00:01.363,566.90,566.99,567.00,567.03,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,203381,2012/05/22 11:00:01.364,566.90,566.99,567.00,567.03,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,203382,2012/05/22 11:00:01.999,566.90,566.99,567.00,567.03,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,203383,2012/05/22 11:00:02.249,566.84,566.90,566.99,567.00,567.03,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,203384,2012/05/22 11:00:02.319,566.84,566.90,566.99,567.00,567.03,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,203385,2012/05/22 11:00:02.320,566.84,566.90,566.99,567.00,567.03,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,203386,2012/05/22 11:00:02.321,566.84,566.90,566.99,567.00,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,203387,2012/05/22 11:00:02.321,566.84,566.90,566.99,567.00,567.05,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,203388,2012/05/22 11:00:02.321,566.84,566.90,566.99,567.00,567.05,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,203389,2012/05/22 11:00:02.325,566.84,566.90,566.99,567.00,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,203390,2012/05/22 11:00:02.325,566.84,566.90,566.99,567.00,567.08,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,203391,2012/05/22 11:00:02.326,566.84,566.90,566.99,567.00,567.08,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,203392,2012/05/22 11:00:03.077,566.84,566.90,566.99,567.00,567.08,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,203393,2012/05/22 11:00:03.284,566.84,566.90,566.99,567.00,567.08,567.10,567.12,567.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,203394,2012/05/22 11:00:03.288,566.90,566.99,567.00,567.08,567.10,567.12,567.13,567.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [209]:
clf.score(test_tfm[test_tfm.columns[2:]].iloc[v_ind], y_mid_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
# prediction and confusion matrix
predict_train = clf.predict(train_tfm[train_tfm.columns[2:]].iloc[t_ind])
confusion_matrix(predict_train, y_mid_train)

In [93]:
predict_test = clf.predict(test_tfm[test_tfm.columns[2:]].iloc[v_ind])
confusion_matrix(predict_test, y_mid_test)

array([[   0,    0,    0],
       [4000, 2000, 4000],
       [   0,    0,    0]])

In [106]:
pd.Series(y_mid_test).value_counts()

stationary    8653
down           708
up             639
dtype: int64

In [112]:
spread_label(bid = train['bid_price1'], ask = train['ask_price1'], delta_t = 20)[:-20].value_counts()

stationary    201418
down            1115
up               796
dtype: int64

In [118]:
def sampling_labels(y_labels,sample_size,sample_random=False,up_prob=1/3,down_prob=1/3):
	y_labels = list(y_labels[y_labels.isnull() == False])
	total_size = len(y_labels)
	total_indices = range(total_size)
	if sample_random == False:
		total_up_indices = [total_indices[i] for i in range(len(total_indices)) if y_labels[i] == "up"]
		total_down_indices = [total_indices[i] for i in range(len(total_indices)) if y_labels[i] == "down"]
		total_stat_indices = [total_indices[i] for i in range(len(total_indices)) if y_labels[i] == "stationary"]
		up_size = int(np.floor(sample_size * up_prob))
		down_size = int(np.floor(sample_size * down_prob))
		stat_size = sample_size - up_size - down_size
		up_indices = np.random.choice(total_up_indices, size=up_size, replace=True)
		down_indices = np.random.choice(total_down_indices, size=down_size, replace=True)
		stat_indices = np.random.choice(total_stat_indices, size=stat_size, replace=True)
		return(list(up_indices) + list(down_indices) + list(stat_indices))
	else:
		random_result = np.random.choice(total_indices, size=sample_size, replace=True)
		return(list(random_result))

In [23]:
y_labels = spread_label(bid = train_tfm['bid_price1'], ask = train_tfm['ask_price1'], delta_t = 20)
y_labels = list(y_labels[y_labels.isnull() == False])
total_size = len(y_labels)
total_indices = range(total_size)

In [26]:
total_up_indices = [total_indices[i] for i in range(len(total_indices)) if y_labels[i] == "up"]

In [27]:
total_up_indices

[144,
 147,
 151,
 154,
 423,
 428,
 429,
 431,
 436,
 438,
 969,
 970,
 971,
 972,
 973,
 1340,
 1341,
 1342,
 1343,
 1345,
 1510,
 1511,
 1512,
 2171,
 2232,
 2567,
 2568,
 2569,
 2570,
 2599,
 2600,
 2601,
 2602,
 2603,
 2604,
 2934,
 3328,
 3329,
 3403,
 4363,
 4364,
 4555,
 4556,
 5788,
 6061,
 6345,
 6384,
 6385,
 6760,
 6762,
 6763,
 6764,
 6765,
 6766,
 6767,
 6769,
 6772,
 6773,
 6774,
 6775,
 6810,
 6811,
 7310,
 7311,
 7312,
 7313,
 7314,
 7325,
 7331,
 7694,
 7695,
 7697,
 8141,
 8148,
 8149,
 8150,
 8210,
 8211,
 8619,
 8620,
 8621,
 8622,
 8623,
 8624,
 8625,
 8626,
 8766,
 8769,
 8770,
 8771,
 8903,
 9293,
 10311,
 10529,
 10530,
 10531,
 10532,
 10533,
 10534,
 10535,
 10536,
 10537,
 10538,
 10831,
 10832,
 11140,
 11671,
 11672,
 11954,
 11955,
 12602,
 12604,
 12623,
 12793,
 12794,
 12795,
 12798,
 12805,
 13411,
 13412,
 13545,
 13645,
 13646,
 13957,
 13958,
 14598,
 15061,
 15062,
 15259,
 15260,
 15261,
 15294,
 15532,
 15533,
 15534,
 15535,
 15537,
 16188,
 16411,
 16412,
 16413,
 16414,
 16415,
 16416,
 16417,
 16419,
 16420,
 16421,
 16422,
 16423,
 16424,
 16425,
 16427,
 16428,
 16432,
 17379,
 17380,
 17381,
 17382,
 17383,
 17631,
 17890,
 17891,
 18086,
 18101,
 18102,
 19056,
 19057,
 19545,
 20969,
 21037,
 21038,
 21039,
 21040,
 21041,
 21042,
 21043,
 21044,
 21045,
 21046,
 21047,
 21049,
 21050,
 21051,
 21052,
 21053,
 21054,
 22756,
 23073,
 23642,
 23643,
 25009,
 25010,
 25011,
 25012,
 25013,
 25014,
 25231,
 25233,
 25234,
 25235,
 25236,
 25237,
 25238,
 25239,
 25240,
 25241,
 25242,
 25243,
 25244,
 25245,
 25246,
 25499,
 25500,
 25501,
 25502,
 25503,
 25504,
 25505,
 25506,
 29009,
 29476,
 29477,
 29478,
 29479,
 29480,
 29481,
 29482,
 29483,
 29484,
 34276,
 35023,
 36739,
 38274,
 38275,
 38334,
 38335,
 38430,
 38431,
 38783,
 39444,
 39445,
 39446,
 39447,
 39448,
 39449,
 40954,
 41059,
 41779,
 41780,
 41781,
 41782,
 41783,
 43021,
 43114,
 43703,
 43704,
 43705,
 43706,
 43707,
 43910,
 44963,
 44964,
 44965,
 44966,
 44967,
 44968,
 44969,
 44970,
 44971,
 44972,
 45057,
 45058,
 45059,
 45060,
 45074,
 45075,
 45076,
 45077,
 45216,
 45217,
 45218,
 45219,
 45220,
 45221,
 45222,
 45223,
 45224,
 45225,
 45226,
 45227,
 45228,
 45229,
 45230,
 48301,
 48302,
 48303,
 48304,
 48335,
 48966,
 48967,
 48968,
 48969,
 48970,
 48971,
 48972,
 48973,
 49092,
 49228,
 49229,
 50698,
 50699,
 50700,
 50707,
 50708,
 50709,
 50710,
 50711,
 50712,
 50713,
 50714,
 50715,
 50716,
 50717,
 50718,
 50719,
 51183,
 53815,
 53816,
 53817,
 53820,
 53821,
 54729,
 54730,
 54731,
 54732,
 54733,
 54734,
 54735,
 57193,
 57289,
 59636,
 59641,
 59642,
 59643,
 59644,
 59645,
 59646,
 59647,
 59648,
 59649,
 59650,
 59651,
 59652,
 59653,
 59654,
 60626,
 60627,
 60628,
 62039,
 62045,
 72097,
 72098,
 73616,
 73617,
 73618,
 74445,
 77074,
 77075,
 77076,
 77077,
 77078,
 77079,
 77080,
 77081,
 77082,
 77083,
 77084,
 77334,
 79651,
 81156,
 81157,
 81158,
 81159,
 81160,
 81161,
 81162,
 81163,
 81164,
 82285,
 82286,
 82287,
 82288,
 82289,
 82290,
 82291,
 82292,
 82293,
 82294,
 82295,
 82296,
 82297,
 82298,
 82299,
 83448,
 87749,
 87750,
 87751,
 87752,
 87753,
 87754,
 87755,
 87756,
 87757,
 87758,
 87759,
 87760,
 87761,
 87764,
 87765,
 88921,
 88922,
 90314,
 90315,
 90316,
 90317,
 90318,
 90319,
 90320,
 90321,
 90322,
 90325,
 90326,
 90327,
 90328,
 90329,
 90330,
 90994,
 90995,
 90996,
 90997,
 90998,
 90999,
 91000,
 91001,
 91002,
 91003,
 91004,
 91005,
 94707,
 95029,
 95030,
 95031,
 95032,
 95058,
 96460,
 96461,
 96462,
 96463,
 96464,
 98389,
 98390,
 98391,
 98392,
 98877,
 98878,
 98879,
 98880,
 99709,
 101296,
 101374,
 101908,
 102156,
 102157,
 102158,
 102159,
 102160,
 103446,
 103447,
 103448,
 103540,
 103551,
 104927,
 104928,
 105760,
 105762,
 105763,
 105764,
 105765,
 105766,
 105767,
 105768,
 105769,
 105770,
 105771,
 105772,
 106717,
 106804,
 106805,
 106806,
 106807,
 107365,
 107366,
 107367,
 107368,
 107369,
 107370,
 107371,
 107372,
 107373,
 107374,
 107375,
 107376,
 107377,
 107378,
 107379,
 107380,
 111742,
 111743,
 111744,
 111745,
 111746,
 112190,
 112191,
 112192,
 112193,
 112194,
 112195,
 112196,
 112197,
 112198,
 112199,
 112200,
 112201,
 112202,
 112203,
 112204,
 112205,
 112206,
 112207,
 114987,
 114988,
 116531,
 117289,
 117290,
 117291,
 117292,
 117293,
 117294,
 117295,
 117296,
 117297,
 117298,
 117299,
 117300,
 117301,
 117644,
 117645,
 117646,
 117647,
 117648,
 117649,
 117650,
 119286,
 119788,
 121276,
 122255,
 122256,
 122257,
 124230,
 124231,
 124232,
 124233,
 124238,
 124239,
 124240,
 124241,
 124242,
 124243,
 124244,
 124245,
 125465,
 125466,
 125467,
 125468,
 125480,
 125482,
 125483,
 128722,
 128723,
 128724,
 128725,
 128726,
 128727,
 133528,
 133534,
 133535,
 133536,
 133538,
 133540,
 133541,
 133542,
 133543,
 135219,
 135220,
 135221,
 138141,
 138142,
 138143,
 138144,
 138145,
 138146,
 138147,
 138148,
 143710,
 144216,
 144568,
 144569,
 144570,
 145138,
 145139,
 145140,
 145141,
 145142,
 145143,
 145144,
 145145,
 145146,
 145606,
 145607,
 145608,
 145609,
 145610,
 145611,
 146346,
 146347,
 147631,
 147632,
 147643,
 148638,
 148655,
 148718,
 149547,
 149548,
 149561,
 149562,
 149563,
 149573,
 149759,
 149760,
 149761,
 149762,
 149763,
 149764,
 149765,
 149766,
 149767,
 149768,
 149769,
 149770,
 149771,
 150959,
 150960,
 150961,
 150962,
 150963,
 150964,
 150965,
 150966,
 150967,
 150968,
 150969,
 150970,
 150971,
 150972,
 150973,
 150974,
 150975,
 150976,
 150977,
 151199,
 151200,
 151201,
 151493,
 151494,
 151496,
 151626,
 151629,
 151630,
 151631,
 151632,
 151633,
 152178,
 152179,
 152180,
 152181,
 152182,
 152183,
 152184,
 153801,
 155801,
 155802,
 155803,
 155804,
 156326,
 156557,
 156558,
 156559,
 156560,
 156561,
 156562,
 156563,
 156564,
 156565,
 156566,
 156567,
 156568,
 156569,
 156743,
 160346,
 160347,
 161044,
 161057,
 161058,
 161059,
 161060,
 161061,
 162450,
 169089,
 170630,
 170631,
 170632,
 170633,
 170634,
 170635,
 170636,
 170637,
 170638,
 170639,
 170640,
 170641,
 170644,
 170804,
 170810,
 170815,
 170816,
 170817,
 170818,
 170819,
 170820,
 170821,
 170822,
 174881,
 174882,
 182431,
 184397,
 184400,
 184401,
 188095,
 195612,
 197783,
 197784,
 197785,
 197786,
 197787,
 197788,
 197789,
 197790,
 197791,
 197792,
 197793,
 198928,
 198997,
 198998,
 198999,
 199003,
 199004,
 199005,
 199006,
 199007,
 199008,
 199009,
 200668,
 200669,
 200670,
 200671,
 200672,
 200673,
 200674,
 200675,
 200676,
 200681,
 200682,
 200683,
 200684,
 200824]